@font-face {
    font-family: 'Parisienne';
    src: url('../fonts/Parisienne/Parisienne-Regular.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 1rem; */
    font-size: 1.3rem;
}

header {
    margin: 1rem;
    padding: 1rem;
}

.shop-name {
    font-family: 'Parisienne';
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto 1rem auto;
}

/* .connection {
    display: none;
} */

.connection {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 2rem 0;
}

.burger-icon {
    font-size: 4rem;
    padding: 2rem;
    cursor: pointer;
}

#toggle {
    display: none;
}

.navbar {
    text-align: center;
}

.navbar__menu {
    display: none;
    flex-direction: column;
}

#toggle:checked + .navbar__menu {
    display: flex;
}

.navbar__element {
    margin: 1rem;
    padding: 0.5rem;
}

.navbar__element--selected {
    background-color: #c1ed89;
}

.section-title {
    font-size: 1.7rem;
    width: fit-content;
    margin: 2rem auto;
}

.flower-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.flower-cards__element {
    width: 25rem;
    margin: 1rem;
}

.flower-cards__element img {
    width: 100%;
}

.stock {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

.description {
    margin: 1rem;
}

.illustration {
    width: 80%;
    display: block;
    margin: auto;
}

.accountModified {
    text-align: center;
    color: green;
    font-size: 1.4rem;
}

.signup-form {
    display: block;
    margin: 2rem auto;
}

.signup-form .field {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.signup-form label {
    margin: 0.5rem 0;
}

.signup-form input, .signup-form button {
    padding: 0.5rem;
    font-size: 1rem;
}

.error {
    color: red;
    margin: 0.5rem 0;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
  
.content-wrap {
    padding-bottom: 10rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;            /* Footer height */
    font-size: 1.1rem;
    background-color: lightgray;
}

.footer-links {
    /* display: flex; */
    width: fit-content;
    margin: 2rem auto;
}

.footer-links__element {
    margin: 1.2rem;
}

.basketTable {
    margin: auto;
}

.basketTable th, .basketTable td {
    padding: 1rem;
    border: 1px solid black;
}

@media screen and (min-width: 370px) {
    .shop-name {
        font-size: 5rem;
    }

    .flower-cards__element {
        border: solid 1px green;
        padding: 1rem;
    }
}

@media screen and (min-width: 500px) {
    .signup-form {
    width: 80%;
    }

    .footer-links {
        display: flex;
        margin-top: 1rem;
    }

    .content-wrap {
        padding-bottom: 6rem;    /* Footer height */
    }
    
    footer {
        height: 6rem;            /* Footer height */
    }
}

@media screen and (min-width: 780px) {
    .title-connection {
        position: relative;
    }

    .connection {
        font-size: 1rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .burger-icon {
        display: none;
    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: fit-content;
        border-top: solid 1px green;
        border-bottom: solid 1px green;
    }

    .product {
        display: flex;
        margin: 3rem;
    }

    .illustration {
        width: 60%;
        margin: 0;
    }

    .product_details {
        margin: 1rem;
    }

    .signup-form {
    width: 50%;
    display: block;
    margin: 5rem auto;
    }

    .signup-form .field {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .signup-form {
        width: 35%;
        display: block;
        margin: 5rem auto;
        }
}