@font-face {
    font-family: 'Parisienne';
    src: url('../fonts/Parisienne/Parisienne-Regular.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 1rem; */
    font-size: 1.3rem;
}

header {
    margin: 1rem;
    padding: 1rem;
}

.shop-name {
    font-family: 'Parisienne';
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto 1rem auto;
}

.connection {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 2rem 0;
}

.connection > a {
    margin: 1rem;
}

.burger-icon {
    font-size: 4rem;
    padding: 2rem;
    cursor: pointer;
}

#toggle {
    display: none;
}

.navbar {
    text-align: center;
}

.navbar__menu {
    display: none;
    flex-direction: column;
}

#toggle:checked + .navbar__menu {
    display: flex;
}

.navbar__element {
    margin: 1rem;
    padding: 0.5rem;
}

.navbar__element--selected {
    background-color: #c1ed89;
}

.section-title {
    font-size: 1.7rem;
    width: fit-content;
    margin: 2rem auto;
}

.flower-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.flower-cards__element {
    width: 25rem;
    margin: 1rem;
}

.flower-cards__element img {
    width: 100%;
}

.stock {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

.product_details * {
    margin: 1rem;
}

.order-form {
    margin-top: 3rem;
}

.order-form * {
    margin: .5rem 0;
}

.quantity-label {
    margin-right: .5rem;
}

.quantity-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #b0b0b0;
    box-shadow: inset 2px 2px 5px rgba(89, 89, 89, 0.75);
}

.submit {
	box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color: #b8e356;
	border-radius: 6px;
	border: 1px solid #83c41a;
	cursor: pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-shadow:0px 1px 0px #86ae47;
}

.submit:hover {
	background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color: #a5cc52;
}
.submit:active {
	position:relative;
	top:1px;
}

.illustration {
    width: 80%;
    display: block;
    margin: auto;
}

.contact * {
    margin: 1rem;
}

.accountModified {
    text-align: center;
    color: green;
    font-size: 1.4rem;
}

.signup-form {
    display: block;
    margin: 2rem auto;
}

.signup-form .field {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.signup-form label {
    margin: 0.5rem 0;
}

.signup-form input, .signup-form button {
    padding: 0.5rem;
    font-size: 1rem;
}

.error {
    color: red;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.basket {
    text-align: center;
}

.basket * {
    margin: 1rem auto;
}

.basket button {
    /* display: block; */
    margin: 3rem auto;
    padding: .5rem;
    font-size: 16px;
}

.basketTable {
    margin: auto;
}

.basketTable th, .basketTable td {
    padding: 1rem;
    border: 1px solid black;
}

.error-page {
    text-align: center;
    font-size: 3rem;
}

.delete-item {
    text-align: center;
}

.content-wrap {
    padding-bottom: 10rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;            /* Footer height */
    font-size: 1.1rem;
    background-color: lightgray;
}

.footer-links {
    /* display: flex; */
    width: fit-content;
    margin: 2rem auto;
}

.footer-links__element {
    margin: 1.2rem;
}

@media screen and (min-width: 370px) {
    .shop-name {
        font-size: 5rem;
    }

    .flower-cards__element {
        border: solid 1px green;
        padding: 1rem;
    }

    .contact, .legal {
        text-align: center;
    }
    
    .contact img {
        width: 50%;
    }

    .contact-section h3 {
        font-weight: bold;
    }

    .contact-section {
        padding: .2rem;
    }

    .legal * {
        margin: 1rem;
    }

    .legal a:hover {
        text-decoration: underline;
        color: purple;
    }
}

@media screen and (min-width: 500px) {
    .signup-form {
    width: 80%;
    }

    .footer-links {
        display: flex;
        margin-top: 1rem;
    }

    .content-wrap {
        padding-bottom: 6rem;    /* Footer height */
    }
    
    footer {
        height: 6rem;            /* Footer height */
    }

    .contact {
        display: flex;
        justify-content: center;
    }

    .contact img {
        width: 20%;
    }
}

@media screen and (min-width: 780px) {
    .burger-icon {
        display: none;
    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: fit-content;
        border-top: solid 1px green;
        border-bottom: solid 1px green;
    }

    .product {
        display: flex;
        margin: 3rem;
    }

    .illustration {
        width: 60%;
        margin: 0;
    }

    .description, .error {
        margin-top: 0;
    }

    .signup-form {
    width: 50%;
    display: block;
    margin: 5rem auto;
    }

    .signup-form .field {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .title-connection {
        position: relative;
    }

    .connection {
        font-size: 1rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .signup-form {
        width: 35%;
        display: block;
        margin: 5rem auto;
        }
}